h4,
p {
  margin: 0;
}

.card-list {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.card-item {
  /* width: 250px;
  height: 300px; */
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  border: 1px solid #ebe4e4;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.card-item:hover > .card-img {
  transform: scale(1.1);
}

.card-item > .card-img {
  margin-bottom: 0;
  transition: 0.3s ease-in;
}

.card-item > .card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 0;
}

.card-item:hover > .card-body > .card-title {
  color: rgb(42, 13, 209);
}

.card-item .card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-item .card-body > .card-title {
  font-size: 20px;
  color: #353434;
  margin-top: 0;
  margin-bottom: 10px;
  transition: 0.3s ease-in;
}

.card-item .card-body > .card-desc {
  font-size: 18px;
  color: #383737;
  max-width: 250px;
  text-align: left;
}
